:root {
    --font-color: #FFFFFF;
    --primary-color: #F99A9A;
    --secondary-color: #F5F5DC;
    --tertiary-color: #FFFFFF;
    --font-style: 'Open Sans', sans-serif;
    --padding: 60px;
    --font-color-2: #6A5A5A;
    --hover: #ffaeae;
}


@media only screen and (max-width:1600px) and (min-width:901px){

    .card-image{
      height: 300px;
      width: 100%;
    }

    .name{
      font-size: 20px
    }
    .description{
      font-size: 10px
    }
    
    .role {
      font-size: 16px;
    }

    .swiper-button-next{
      right: 10px;
      padding: 20px;
    }
    .swiper-button-prev{
      left: 0;
      padding: 20px;
    }

  
  .teams {
      display: grid;
      grid-template-columns: repeat(3,1fr);
      column-gap: 20px;
  }

  .img-background {
      background: var(--secondary-color);
      width: 100%;
      height: 400px;
      margin-bottom: -450px;
     
  }
  .team-img-con {
      width: 100%;
  }
  
  .team-img-con img{
      height: 380px;
      width: 100%;
  }

  .descript-con {
      width: 100%;
  }    
}


@media only screen and (max-width:1259px) and (min-width:901px) {
  .teams {
      display: grid;
      grid-template-columns: repeat(2,1fr);
      column-gap: 80px;
  }

  .img-background {
      background: var(--secondary-color);
      width: 100%;
      height: 470px;
      margin-bottom: -510px;
     
  }
  .team-img-con {
      width: 100%;
  }
  
  .team-img-con img{
      height: 440px;
      width: 100%;
  }

  .descript-con {
      width: 100%;
  } 
}




@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}

@media only screen and (max-width:1300px){
  .navbar-logo-con{
      width: 80%;
  }
  header .logo {
      margin-left: -415px;
  }

  .heading {
      font-size: 35px;
  }

  .best-sellers {
      display: grid;
      grid-template-columns: repeat(3,1fr);
  }
  
}

@media only screen and (max-width:1580px) {

  .best-sellers {
      grid-template-columns: repeat(3,1fr);
  }
  
}

@media only screen and (max-width:1110px) {
  .navbar-logo-con{
      width: 80%;
  }

  header .logo {
      margin-left: -200px;
  }

  .best-sellers {
      grid-template-columns: repeat(2,1fr);
  }
}





/*TABLET VIEW*/
@media only screen and (max-width:900px) {
  .logo-con {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 70%;
      flex-direction: row-reverse;
  }
  header {
      padding: 25px 50px;
  }

  .navbar-logo-con {
      flex-direction: row;
  }
  
  .button-nav-con {
      width: 155px;
  }

  .hamburger {
      cursor: pointer;
      display: block;
  }
  .hamburger .line {
      width: 30px;
      height: 3px;
      background-color: var(--secondary-color);
      margin-bottom: 5px;
  }
  .nav-bar.active {
      height: 300px;
  }

  .nav-bar.active ul {
      opacity: 1;
  }


  header .nav-bar ul a {
    text-decoration: none;
    color: var(--font-color-2);
    font-size: 14px;
    font-weight: 500;
}
  .nav-bar {
      height: 0;
      position: absolute;
      top: 130px;
      right: 0;
      left: 0;
      background-color: var(--secondary-color);
      width: 100vw;
      transition: ease-in .7s;
      overflow: hidden;
  }

  header .nav-bar ul {
      display: block;
      margin: 40px auto 0px auto;
      text-align: center;
      opacity: 0;
      transition: ease .3s;
  }

  header .nav-bar ul a:hover {
      color: var(--primary-color);
  }

  header .nav-bar ul li {
      margin-bottom: 20px;
  }

  .welcome-main {
      flex-direction: column;
      padding: 50px;
      justify-content: center;
      height: 750px;
  }
  .welcome-con {
      height: 90%;
  }

  .heading {
      font-size: 35px;
  }

  .parag {
      font-size: 16px;
      margin-bottom: 30px;
  }

  .welcome-main .img-container {
      width: 100%;
      height: 500px;
  }

  .our-story-con {
      padding: 50px;
  }

  .description-con {
      width: 100%;
  }

  .all-heading {
      text-align: center;
  }

  .our-story-desc-con {
      flex-direction: column;
  }

  .img-con {
      width: 100%;
      height: 550px;
      margin-top: 20px;
  }

  .btn-main {
      margin: 0 auto;
  }

  .video-con {
      margin-top: -505px;
  }

  .our-menu-con {
      padding: 50px;
      flex-direction: column;
  }

  .menu-img-con {
      height: 780px;
      width: 100%;
      height: 100%;
      margin-bottom: 30px;
  }
  
  
  .our-menu-des-con {
      width: 100%;
  }
  
  .our-menu-des-con h3 {
      font-size: 14px;
      width: 63%;
      text-align: justify;
  }
  
  .our-menu-des-con .parag-1 {
      font-size: 12px;
      width: 63%;
      text-align: justify;
  }
  
  .our-menu-des-con .parag-2 {
      font-size: 12px;
      width: 63%;
      text-align: justify;
  }
  
  .our-menu-des-con .parag-3 {
      font-size: 12px;
      width: 63%;
      text-align: justify;
  }

  .our-best-seller-con {
      padding: 50px;
  }

  .best-sellers {
      grid-template-columns: repeat(2,1fr);
      column-gap: 30px;
  }

  .testimonial-con{
      padding: 50px;
    }
    
    .card-image{
      height: 300px;
      width: 100%;
    }

    .name{
      font-size: 30px
    }
    .description{
      font-size: 12px
    }
    
    .role {
      font-size: 16px;
    }

    .swiper-button-next{
      right: 10px;
      padding: 20px;
    }
    .swiper-button-prev{
      left: 0;
      padding: 20px;
    }

    .team-con {
      padding: 50px;
      
      }
      
  .teams {
      grid-template-columns: repeat(2,1fr);
      row-gap: 120px;
      column-gap: 30px;
  }

  

  .team-img-con img{
      height: 380px;
      width: 100%;
  }

  .img-background {
      background: var(--secondary-color);
      width: 100%;
      height: 400px;
      margin-bottom: -460px;
  
  }
  
  .contact-con {
      padding: 50px;
  }
  
  .contact-info {
      width: 100%;
      display: flex;
      cursor: pointer;
      height: 250px; 
     
  }
  
  .details-con {
      padding: 50px;
     
  }
  .contact-info {
      height: 160px;  
  }
  
  .details-con {
      padding: 15px 20px;
      text-align: center;
  }

  .details-con h1 {
      font-size: 23px;
      margin-bottom: 15px;
  }

  .details-con p {
      font-size: 12px;
  }
  .details-con:hover {
      background-color: var(--hover);
      transition: ease 0.5s;
      color: var(--font-color);
  }
  
  .map-con {
      height: 450px;
  }  

  .message-us-main-con {
      padding: 50px;
  }

  .message-us-con {
      flex-direction: column;
  }

  .message-us-desc {
      width: 100%;
  }
  
  .message-us-desc h1 {
      font-size: 35px;
      width: 100%;
  }

  .message-us-desc h2 {
      width: 100%;
      font-size: 35px;

  }

  .message-us-desc p {
      font-size: 16px;
  }

  .email-us-form {
      width: 100%;
      padding: 0;
      margin-top: 30px;
  }

  .footer {
      padding: 20px 50px 20px 50px;
  }

  .footer p {
      width: 100%;
  }

  #topBtn{
      position: fixed;
      bottom: 40px;
      right: 28px;
      height: 45px;
      width: 45px;
      font-size: 16px;
    }
}

/*MOBILE VIEW*/

@media only screen and (max-width:600px){
  header {
      padding: 15px 15px;
  }
  
  .welcome-main {
      height: 650px;
      padding: 50px 15px;
  }
  
  .welcome-desc-con {
      width: 90%;
  }

  .welcome-con {
      height: 100%;
  }
  .nav-button {
      display: none;
  }

  .button-nav-con {
      width: auto;
      height: auto;
      padding: 10px;
      border-radius: 100px;
  }

  .navbar-logo-con {
      width: 70%;
  }

  .logo-con {
      width: 88%;

  }

  .our-story-con {
      padding: 50px 15px;
  }

  .img-con {
      width: 100%;
      height: 350px;
      margin-top: 20px;
  }

  .btn-main {
      margin: 0 auto;
  }

  .video-con {
      margin-top: -320px;
      width: 300px;
      height: 300px;
  }

  .our-menu-con {
      padding: 50px 15px;
      flex-direction: column;
  }

  .menu-img-con {
      height: 780px;
      width: 100%;
      height: 100%;
      margin-bottom: 30px;
  }
  
  
  .our-menu-des-con {
      width: 100%;
      background-image: none;
      background-size: contain;
  }
  
  .our-menu-des-con h3 {
      font-size: 14px;
      width: 100%;
      text-align: justify;
  }
  
  .our-menu-des-con .parag-1 {
      font-size: 12px;
      width: 100%;
      text-align: justify;
  }
  
  .our-menu-des-con .parag-2 {
      font-size: 12px;
      width: 100%;
      text-align: justify;
  }
  
  .our-menu-des-con .parag-3 {
      font-size: 12px;
      width: 100%;
      text-align: justify;
  }

  .our-best-seller-con {
      padding: 50px 15px;
  }

  .best-seller img {
    height: 280px;
  }

  .best-sellers {
      grid-template-columns: repeat(1,1fr); 
  }

  .testimonial-main-con{
  padding: 50px 15px;

  }

  .testimonial-con {
      padding: 0;
  }

  .name{
  font-size: 20px
  }
  .description{
  font-size: 12px
  }
  
  .role {
  font-size: 14px;
  }

  .slide-content{
      margin: 41px 40px;
    }

    .team-con {
      padding: 50px 15px;
      
  }
  
  .teams {
      grid-template-columns: repeat(1,1fr);
      row-gap: 120px;
      width: 100%;
  }
  

  .team-img-con img{
      height: 430px;
      width: 100%;
  }

  .img-background {
      background: var(--secondary-color);
      width: 100%;
      height: 400px;
      margin-bottom: -500px;
     
  }

  .team {
      width: 100%;
  }

  .contact-con {
      padding: 50px 15px;
  }
  .contact-info {
      width: 100%;
      height: auto; 
      flex-direction: column;
  }
  
  .details-con {
      padding: 40px 20px;
      text-align: center;
      width: 100%;
  }

  .details-con h1 {
      font-size: 25px;
  }

  .details-con p {
      font-size: 14px;
  }
  .details-con:hover {
      background-color: var(--hover);
      transition: ease 0.5s;
      color: var(--font-color);
  }
  
  .map-con {
      height: 350px;
  } 

  .message-us-main-con {
      padding: 50px 15px;
  }

  .message-us-main-con .all-heading {
    margin-bottom: 10px;
  }

  .footer {
      padding: 15px 20px;
      text-align: center;
  }

  .footer h1 {
      font-size: 25px;
  }

  .footer p {
      font-size: 14px;
  }

  .icon img {
      width: 25px;
      height: 25px;
  }
}




@media only screen and (max-width:1160px){
  .navbar-logo-con{
      width: 90%;
  }
  
}



